/* Palette */


$def_green : #a1cf00;
$def_white : #fff;
$def_black : black;

$def_bg : #f0f2f5;
$def_color : #6b6d6a;


/* Styles */


/* Font */
$def_font: Arial, Verdana, Helvetica !important;

/* Border radius */
$border-radius : 3px !important;